
:root{
	--fasc:#81a1c1;
	--lgbt:#b48ead;
	--edu:#ebcb8b;
	--fam:#a3be8c;

	--page-background: #f2f4f8;
	--base-text: #4C566A;
	--card-background: #fff;
	--h1-text: #000;
	--shadow:rgba(184, 194, 215, 0.25) 0px 4px 6px, rgba(184, 194, 215, 0.1) 0px 5px 7px;
	--shadow-r: 184;
	--shadow-g: 194;
	--shadow-b: 215;

}

@media (prefers-color-scheme: dark) {
    :root {
		--page-background:#242933;
		--card-background: #2E3440;
		--base-text: #ECEFF4;
		--h1-text: var(--base-text);
		--shadow: rgba(15, 17, 21, 0.25) 0px 4px 6px, rgba(15, 17, 21, 0.1) 0px 5px 7px;
		--shadow-r: 15;
		--shadow-g: 17;
		--shadow-b: 21;
    }
}

main{
	width:100%;
	align-content:center;
}

body{
	background: var(--page-background);
	overflow:hidden;
}

p{
	line-height: 1.5;
	font-size: 1rem;
	color: var(--base-text);
}

h1,h2{
	font-family: "mononoki";
}

h1{
	font-size: 2.72143em;
	font-weight: 500;
	color: var(--h1-text);
}

h2{
	color: var(--base-text);
}

.card{
	background: var(--card-background);
	box-shadow: var(--shadow);
	border-radius:8px;
	margin: auto;
	margin-bottom: 2em;
}

.programa{
	max-width: 95%;
	padding: 2em 6%;
}

#options{
	max-width: 80%;
	padding: 1em 2em;
}

#options>.optmenu{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.option{
	border-radius:8px;
	padding:calc(1em - 3px);
	margin: 1rem;
	font-family: "mononoki";
	box-shadow: var(--shadow);
	cursor:pointer;
	transition: all 0.25s;
	user-select:none;
}
.option:hover{
	filter:brightness(95%);
	box-shadow: rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), 1) 0px 4px 6px, rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), 0.5) 0px 5px 7px;
}
.option:active{
	filter:brightness(95%);
	box-shadow: rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), 0.1) 0px 4px 6px, rgba(var(--shadow-r), var(--shadow-g), var(--shadow-b), 0.05) 0px 5px 7px;
}

.optmenu>.fasc{
	border: var(--fasc) 3px solid;
}

.optmenu>.lgbt{
	border: var(--lgbt) 3px solid;
}

.optmenu>.edu{
	border: var(--edu) 3px solid;
}

.optmenu>.fam{
	border: var(--fam) 3px solid;
}
.fasc,
.lgbt,
.edu,
.fam{
	color:var(--base-text);
}


.fasc.hilight{
	background:var(--fasc);
	color:#fff;
}

.lgbt.hilight{
	background:var(--lgbt);
	color:#fff;
}

.edu.hilight{
	background:var(--edu);
	color:#fff;
}

.fam.hilight{
	background:var(--fam);
	color:#fff;
}


.header{
	max-width:90%;
	margin: 0px auto 4em;
	text-align: center;
}

.content{
	max-width: 75em;
	margin:auto;
}

.note{
	color: #8fbcbb;
}

#scrollbar{
	position: fixed;
	/* background: var(--base-text); */
	/* opacity: 0.05; */
	height: 100vh;
	width: 1rem;
	right: 0rem;
	top: 0;
	/* border-radius: 5px; */
}

/* script style */
.wrapper {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #FFF;
  border: 1px #000 solid;
  margin: 20px auto;
  padding: 15px;
  position: relative;
  width: 600px;
  height: 600px;
}

#container {
  width: 580px;
  height: 580px;
  padding: 5px;
  margin-top: 5px;
  overflow: auto;
  position: relative;
}

.ssb_down {
  background-color: #33ccaa;
  bottom:0;
  cursor:pointer;
  position:absolute;
  right:0;
  border-radius: 10px;
}

.ssb_sb {
  background-color: #22aabb;
  cursor:pointer;
  position:absolute;
  right:0;
  border-radius: 10px;
}

.ssb_sb_down {
  background-color: #1199aa;
}

.ssb_sb_over {
  background-color: #33bbcc;
}

.ssb_st {
  background-color: #dedede;
  cursor:pointer;
  height:100%;
  position:absolute;
  right:0;
  top:0;
  border-radius: 10px;
}

.ssb_up {
  background-color: #33ccaa;
  cursor:pointer;
  position:absolute;
  right:0;
  top:0;
  border-radius: 10px;
}
/* end script styling */
