main{
	width:100%;
	align-content:center;
}

body{
	background: #f2f4f8;
}

p{
	line-height: 1.5;
	font-size: 1rem;
	color: #4C566A;
}

h1{
	font-family: "mono";
}

.programa{
	max-width: 95%;
	padding: 2em 4em;
	background: #ffffff;
	box-shadow: rgba(184, 194, 215, 0.25) 0px 4px 6px, rgba(184, 194, 215, 0.1) 0px 5px 7px;
	border-radius:8px;
}

.header{
	max-width:90%;
	margin: 0px auto 4em;
	text-align: center;
}

.content{
	max-width: 75em;
	margin:auto;
}

.note{
	color: #8fbcbb
}
